/* -------------------------- */
/* By Bheem Swami */
/*            */
/* -------------------------- */

.errorMsg{
    color: red;
    font-size: 14px;
}
.site_loader{
    position: absolute;
    top: 15%;
    bottom: 0;
    left: 50%;
    right: 0;
    z-index: 9999;
}
.errorMsg:after {
    background: #fff !important;
  }
.company_opt_main{
    height: calc(100vh - 170px);
    /*height: calc(100% - 94px);*/
}
.kep-login-facebook{
    padding: 4px !important;
    font-size: 12px !important;
}
.fa-facebook,.fa-google{
    margin-right: 10px;
}
.btn-google {
    background: #CC3333 !important;
    color: #fff !important;
    text-align: left !important;
    padding: 2px 0px 2px 0px !important;
    box-shadow: none !important;
    padding: 4px 8px 2px 7px !important;
}
.btn-google span{
    padding: 0px !important;
}
.delete-btn-div{
    position: absolute;
    width: 50px;
    height: 50px;
    right: -80px;
    top: -15px;
    margin-top: 15px !important;
}
.required_field,.srv-validation-message{
    color: #fa1919;
}
.act-span{
    cursor: pointer;
}
.show-more-less-btn{
    color: #0d45ba;
    font-size: 13px;
    font-weight: 700;
}

.comment-txt-elem{
        background-color: #f2f3f5;
        border-radius: 18px;
        box-sizing: border-box;
        color: #1c1e21;
        display: inline-block;
        line-height: 16px;
        width: 100%;
        padding: 10px 10px 0px 10px;
        margin-bottom: 10px;
        max-width: 100%;
        word-wrap: break-word;
        position: relative;
        white-space: normal;
        word-break: break-word;
}

.creatPostSection{
    margin-bottom: 15px;
}
.creatPostSection .box-header,
.creatPostSection .box-header .title{
    margin: 0px !important;
}

.react-tagsinput{
    border-color:#e8e8e8 !important;
    background: #f9f9f9 !important;
}
.react-tagsinput .react-tagsinput-tag {
    background-color: #03A9F4 !important;
    border: 1px solid #2196F3 !important;
    color: #ffffff !important;
}


.blogSection figure{
    display: flex;
    height:250px;
    align-items: center;
    justify-content: center;
}
.blogSection figure video,
.blogSection figure img{
    height: 250px;
    max-width:100%;
    width:auto !important;
}
.userInfo .info .subTitle {
    margin-bottom: 0px;
}
.userInfo >div:last-child ul {
    margin-right: -10px;
    margin-top: -10px;
}
.userInfo ul li .btn {

    font-size: 14px;
    color:#666;
}
.userInfo ul li .btn:hover,
.userInfo ul li .btn:focus{
    background: #f9f9f9 !important;
    box-shadow: none;
    color:#333;
}
.load-comment-a{
    color: #007bff !important;
    font-size: 14px;
}
.tags-color{
    color: #007bff !important;
}
.cursor-pointer{
    cursor: pointer;
}
.addComment{
    padding-top: 11px;
}
.react-datepicker-wrapper{
    width: 100%;
}

/*Huge thanks to @tobiasahlin at http://tobiasahlin.com/spinkit/ */
.spinner {
    /* margin: 100px auto 0; */
    /* width: 70px; */
    text-align: center;
  }
  
  .spinner > div {
    width: 10px;
    height: 10px;
    background-color: #2196F3;
    margin-right: 5px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
.level-user{
    color: #a7a6b3;
    font-size: 14px;
    margin-left: 6px;
}

/* START UPDATED BY CHETNA JOSHI */

.loadingSpinnerBtn {
    width: 25px !important;
    margin-top: -4px;
    color: white !important;
    height: 25px !important;
}

.loadingSpinnerBtn2 {
    width: 20px !important;
    margin-top: -3px;
    color: white !important;
    height: 20px !important;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-success {
    background-color: #5cb85c;
}

.label-danger {
    background-color: #d9534f;
}

.react-bootstrap-table th .caret-4-desc:before {
    margin-left: 3.5px;
    content: "\2191";
    opacity: 0.4;
}

.react-bootstrap-table th .caret-4-desc:after {
    content: "\2193";
}

.react-bootstrap-table th .caret-4-asc:before {
    margin-left: 3.5px;
    content: "\2191";
}

.react-bootstrap-table th .caret-4-asc:after {
    content: "\2193";
    opacity: 0.4;
}

.react-bootstrap-table th .order-4:before {
    margin-left: 3.5px;
    content: "\2191";
    opacity: 0.4;
}

.react-bootstrap-table th .order-4:after {
    content: "\2193";
    opacity: 0.4;
}

.table td{
    vertical-align: middle;
}

.react-bs-table-sizePerPage-dropdown.dropdown .dropdown-menu{
    transform: translate3d(0px, 0px, 0px) !important;
    top: 100% !important;
}

#pageDropDown{
    color: #fff !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    border-radius: .25rem !important;
}

.react-bootstrap-table-pagination-total{
    margin-left: 10px!important;
}

.MuiDialog-paperWidthSm{
    width: auto !important;
}

/* END UPDATED BY CHETNA JOSHI */
